
    
    
        <!-- ***** Preloader Start ***** -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="most-popular">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="dropdown">
                                    <input type="checkbox" id="dropdown-toggle">
                                    <label class="dropdown__face" for="dropdown-toggle">
                                        <div class="dropdown__text">Filtrar</div>
                                        <div class="dropdown__arrow"></div>
                                    </label>
                                    <ul class="dropdown__items">
                                        <li><a class="dropdown-item" href="#">Filtro 1</a></li>
                                        <li><a class="dropdown-item" href="#">Filtro 2</a></li>
                                        <li><a class="dropdown-item" href="#">Filtro 3</a></li>
                                    </ul>
                                </div>
                                <div class="heading-section">
                                    <h4>Angariações</h4>
                                </div>
                                
                                <div class="row">
                                    <!-- Coluna 1 -->
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="most-popular itemgrande left">
                                            <img src="{% static 'imagensteste/testeamarelo.png' %}" alt="Projeto A">
                                            <div class="itemgrande-content">
                                                <h4>Projeto<br><span>Usuário</span></h4>
                                                <p>Descrição Descrição Descrição Descrição Descrição Descrição </p>
                                            </div>
                                        </div>

                                        <div class="most-popular itemgrande right">
                                            <img src="{% static 'imagensteste/testeverde.png' %}" alt="Projeto B">
                                            <div class="itemgrande-content">
                                                <h4>Projeto<br><span>Usuário</span></h4>
                                                <p>Descrição Descrição Descrição Descrição Descrição Descrição </p>
                                            </div>
                                        </div>

                                        <div class="most-popular itemgrande left">
                                            <img src="{% static 'imagensteste/testeazul.png' %}" alt="Projeto C">
                                            <div class="itemgrande-content">
                                                <h4>Projeto<br><span>Usuário</span></h4>
                                                <p>Descrição Descrição Descrição Descrição Descrição Descrição </p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Coluna 2 -->
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="most-popular itemgrande left">
                                            <img src="{% static 'imagensteste/testerosa.png' %}" alt="Projeto D">
                                            <div class="itemgrande-content">
                                                <h4>Projeto<br><span>Usuário</span></h4>
                                                <p>Descrição Descrição Descrição Descrição Descrição Descrição </p>
                                            </div>
                                        </div>

                                        <div class="most-popular itemgrande right">
                                            <img src="{% static 'imagensteste/testeamarelo.png' %}" alt="Projeto E">
                                            <div class="itemgrande-content">
                                                <h4>Projeto<br><span>Usuário</span></h4>
                                                <p>Descrição Descrição Descrição Descrição Descrição Descrição </p>
                                            </div>
                                        </div>

                                        <div class="most-popular itemgrande left">
                                            <img src="{% static 'imagensteste/testeverde.png' %}" alt="Projeto F">
                                            <div class="itemgrande-content">
                                                <h4>Projeto<br><span>Usuário</span></h4>
                                                <p>Descrição Descrição Descrição Descrição Descrição Descrição </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination-wrapper">
                                    <div class="pagination">
                                        <a class="prev page-numbers" href="javascript:;">prev</a>
                                        <span aria-current="page" class="page-numbers current">1</span>
                                        <a class="page-numbers" href="javascript:;">2</a>
                                        <a class="page-numbers" href="javascript:;">3</a>
                                        <a class="page-numbers" href="javascript:;">4</a>
                                        <a class="page-numbers" href="javascript:;">5</a>
                                        <a class="page-numbers" href="javascript:;">6</a>
                                        <a class="page-numbers" href="javascript:;">7</a>
                                        <a class="page-numbers" href="javascript:;">8</a>
                                        <a class="page-numbers" href="javascript:;">9</a>
                                        <a class="page-numbers" href="javascript:;">10</a>
                                        <a class="next page-numbers" href="javascript:;">next</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
    
        
        
        
        


