<div class="modal-overlay" id="js-modal-overlay"></div>
<div class="modal-holder" id="js-modal-holder">
  <div class="modal__close" id="js-close-button">
    <i class='bx bx-x'></i>
  </div>
  <div class="modal__header-custom">
    <h4 id="popup-titulo">Título do Post</h4>
    <span id="popup-autor">Por: Nome do Autor</span>
  </div>
  <div class="modal__body-custom">
    <div class="modal-content-wrapper">
      <!-- Coluna Esquerda: Imagem -->
      <div class="modal-left-column" id="popup-imagem-container">
        <div class="info-block">
          <label>Imagem</label>
          <div class="popup-image-wrapper">
            <img id="popup-imagem" src="" alt="Imagem do Post">
          </div>
        </div>
      </div>
      <!-- Coluna Direita: Descrição e Info -->
      <div class="modal-right-column">
        <div class="info-block">
          <label>Descrição</label>
          <div class="content-box" id="popup-content">
            Carregando conteúdo...
          </div>
        </div>
        <!-- Info Group para datas e links -->
        <div class="info-group" id="popup-extras">
          <!-- Injetado dinamicamente -->
        </div>
      </div>
    </div>
  </div>
</div>
